pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/
/repl/
/.repl*/
/temp/
/scripts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

.nrepl*

/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
*.sublime-workspace
project.sublime-project
*.nrepl-port
